

.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#252525c7 0,#252525c7 100%) !important; /* override background image gradient w/ flat color */
}
.navbar-default {
    /* background-image: -webkit-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -o-linear-gradient(top,#fff 0,#f8f8f8 100%); */
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));
    /* background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%); */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); */
    background-repeat: repeat-x;
    /* border-radius: 4px; */
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
}
.navbar-default {
    background-color: #252525c7;
    border-color: #e7e7e7;
    overflow: hidden;
}
.container> .navbar-collapse {
    padding-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
  display: block;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  color: #eee;
}
.navbar-default .navbar-nav>li>a:hover {
    /* color:#eee; */
    background-color: #eee;
    border-bottom: 4px solid #252525c7;
}

.navbar-default .navbar-nav>li>a:active{
    border-bottom: 5px solid #c6c90b;
}

.navbar-default .navbar-brand {
    color: #eee;
}
.navbar-brand {
    border-radius: 15px;
    background-color: #eee;
    float: left;
    height: 60px;
    /* width: 55px; */
    /* padding: 15px 15px; */
    font-size: 18px;
    line-height: 20px;
}

a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-left: 15%;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.nav, .navbar-nav, .navbat-right{
    margin-right: 0px;
}
 .navbar-default> .container {
    /* margin: 0px; */
    padding-top: 2px;
    padding-bottom: 1px;
    margin-right: 0px !important;
    padding-right: 15px;
    padding-left: 15px !important;
    margin-left: 8%;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;
    margin-left: auto;
}

@media (min-width: 768px){
.navbar {
    border-radius: 4px;
}
}
.navbar {
    position: fixed;
    min-height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border: 1px solid #252525c7;
    border-radius: 0px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .brand-logo:hover {
    animation: Brand-logo-spin infinite 1s linear;
  }

  @keyframes Brand-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } 

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

