/* .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right:  auto;
    margin-left: auto;
    /* margin-left: 50%; 
    display: block;
    

}*/

@media (min-width: 768px){
   .page-header {

    }
}
.container{
    /* background-image: url("/assets/SpaceIIMG.jpg");
    background-position:center;
    background-size: cover;   */
    margin: 0px;

}

.page-header {
    padding: 30px 90px 30px 90px;
    /* width: fit-content; */
    /* position: relative; */
    margin: 0px 0 10px;
    border-bottom: 1px solid #eee;
    height: 30em;
    display: block;
   background-color: transparent;
    /* background-color: rgba(75, 204, 176, 0.87); */
    /* background-image: url("/assets/SpaceIIMG.jpg"); */
}

.page-info{
    background-color: #eee;
    display: block;
}

h1 {
   /* text-shadow: 5em; */
    margin-top: 5em;
    text-align: left;
    color: #757575;
}

 .container-fluid {
    padding: 1px 0 200px;
      background-image: url("/assets/gray-background.jpg");
    background-position:center;
    background-size: cover;  
    /* background-color: gray; */

    /* background-image: url("/assets/Banner-wallPic.jpg");
    filter: blur(2px);
    -webkit-filter: blur(2px); */
 }
 .container-banner {
     padding: 10px;
     background-color: #fff;
     /* font-family: sans-serif; */
     
   
 }
* {
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.person-wrapper{
    margin-bottom: 2em;
}

.profile-pic{
    height: 200px;
    width: 200px;
    margin-bottom: 3em;
}

.btn-primary {
    background-color: #110088;
}

h3 {

}

.news-box {
    float:right;
}